* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  color: #d7d9a9;
  background-color: #d7d9a9;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.container {
  padding: 15px;
  background: linear-gradient(to bottom, #1f0c23, #631f6f);
  width: 35%;
  height: 600px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 600px;
  align-items: center;
  color: #fecd23;
  margin-bottom: 30px;
}

.header-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  margin-bottom: 30px;
}

.header-subtitle {
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
  font-size: 13px;
  text-align: center;
}

.selection {
  background: linear-gradient(to top, #1f0c23, #631f6f);
  width: 100%;
  height: 400px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-title {
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
}

input {
  width: 100%;
  height: 16px;
  padding: 5px;
  font-size: 14px;
  font-weight: lighter;
  border-radius: 5px;
  border: 0;
  margin-bottom: 20px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px #78e9e9;
}

.options {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 20px;
}

h2 {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 700;
}

.options-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  height: 200px;
  background-color: #2638db;
  border-radius: 5px;
}

.sports,
.simulation,
.strategy {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  background: linear-gradient(to bottom, #3e5fef, #72cbfe);
  border-radius: 5px;
  margin: 10px;
  width: 90%;
}

button {
  width: 60%;
  padding-top: 0.62rem;
  padding-bottom: 0.62em;
  color: #e9e9e9;
  font-size: 0.88rem;
  font-weight: 400;
  background-color: #1d0c20;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

button:hover {
  background-color: #3e5fef;
  box-shadow: 0 0 10px #1d0c20;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  font-size: 11px;
  margin-top: 10px;
}

@media (max-width: 1358px) {
  .container {
    width: 50%;
    height: auto;
  }

  .header-title {
    font-size: 22px;
    text-align: center;
  }

  .selection {
    height: auto;
  }

  .selection-title {
    font-size: 16px;
    padding: 15px;
    text-align: center;
  }

  .user-info {
    width: 70%;
  }

  input {
    font-size: 12px;
    font-weight: lighter;
    border-radius: 5px;
  }

  .options {
    height: auto;
    align-items: center;
    flex-direction: column;
  }

  .options-card {
    margin-bottom: 10px;
    width: 70%;
    height: 240px;
    background-color: #2638db;
    border-radius: 5px;
  }

  .sports,
  .simulation,
  .strategy {
    width: 90%;
    height: 220px;
    margin: 10px;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 16px;
  }

  .img-group {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  button {
    width: 60%;
    font-size: 0.75rem;
  }

  p {
    font-size: 12px;
  }
}
