* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  color: #d7d9a9;
  background-color: #d7d9a9;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.container {
  padding: 15px;
  background: linear-gradient(to bottom, #1f0c23, #631f6f);
  width: 35%;
  height: 500px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 600px;
  align-items: center;
  color: #fecd23;
  margin-bottom: 30px;
}
